.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #2d2d4d;
}

body {
  padding: 0;
  margin: 0;
}

.logIn {
  width: 600px;
  height: 350px;
  border: 5px solid #0e2c6d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logIn input {
  margin: 10px;
  width: 100px;
  height: 40px;
  border: 2px solid #0e2c6d;
  background-color: transparent;
  padding-left: 1rem;
  font-size: 1.2rem;
}